@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}
body {
    padding: 0px;
    margin: 0;
    font-family: "Inter";
    background-color: var(--Off-white);
    color: black;
}

.container {
    margin: 2% 12%;
  height: 100%;
  padding: 0;
}
.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


#hamburger{
    width: 3rem;
    display: none;
}


.mainnav__ul {
  display: flex;
  list-style: none;
  gap: 1.9rem;
  position: relative;
  top: 1.5rem;
}

.mainnav__link {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1rem;
}
.mainnav__link:hover {
  color: var(--soft-red);
}

#home {
  display: grid;
  margin-top: 3%;
  grid-template-columns: 2fr 1fr;
  gap: 10px ;
  grid-auto-flow: 400px;
  grid-template-areas:
    "Main-img" "Main-img" "News"
    "Main" "Main" "News"
    "Links" "Links" "Links";
}

.home-content img{
    width:100%;
    grid-area: Main-img;
    height: 14.5rem;
    margin-bottom: 10px;
}

.home-content {
    width:100%;
    height: 100%;
}
.home-content__text{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    grid-area: Main;
    gap:1.7rem;
    
}

.content-title h1{
    font-weight:800 ;
    font-size: 2.7rem;
}
.content-title{
    flex:1;
    min-width:40%;
    min-height: fit-content;

}

#content-text{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    justify-content:flex-end ;
    position: relative;
    flex:2;
}
#content-text p{
font-size: 15px;
width: 75%;
margin-top: 0;
}
#content-text a{
    line-height: 1.4rem;
    width: 70%;
    margin-top: 1%;
    margin-bottom: 4%;
    height: 28%;
    width: 38%;
    background-color: var(--soft-red);
    color: var(--Off-white);
    text-decoration: none;
    text-align: center;
    padding: 0.6rem;
}

#content-text a:hover{
background-color: var(--Very-dark-blue);
}
#content-text h3{
    font-size: 1rem;
    letter-spacing: 2px;
}


.homepage-news{
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    width: 100%;
    height: 100%;
    justify-content: start;
    height: fit-content;
    grid-template-columns: News;

}

.homepage-news > h1{
    font-weight: 700;
    color:rgb(231, 181, 87);
    padding: 7% 3% 0 4%;

}
.homepage-news__item{
    height: 25%;
    padding:5% ;
    text-align: left;
}
.homepage-news__item h1{
    font-size: 1.2rem;
    padding-bottom: 2%;
}
.homepage-news__item h1:hover{
    color:rgb(231, 181, 87);
    
}
.homepage-news__item p{
    font-size: 15px;
    color: var(--Grayish-blue);
    padding-bottom:1rem ;
}
.homepage-news__item hr{
        border: 0;
        height: 1px;
        background-image: linear-gradient( rgba(92, 90, 90, 0.822),rgba(92, 90, 90, 0.822));
}
.homepage-bottom{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap:10px;
    margin-top: 2%;
    grid-column-end: span 2;
    width: 100%;
}
.bottom-page__item-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 70%;
}

.homepage-bottom img{
    height: 90%;
    width: 30%;
    float: left;
    margin-right: 2.5%;
}
.homepage-bottom p{
    float: left;
    font-size: 15px;
    color: var(--Dark-grayish-blue);
}
.homepage-bottom h1{
    float: left;
    color: var(--Grayish-blue);
}
.homepage-bottom h2{
    float: left;
    font-size: 1rem;
    margin-top:2% ;
    margin-bottom:2% ;
}
.homepage-bottom h2:hover{
    color: var(--soft-red);
}

#modal{
    display: none;

}

.attribution{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 2%;
}


@media (max-width:768px){
    *{
         margin:0;  
         padding: 0;
         box-sizing: border-box;       
        }

    .container{
        display: flex;
        margin: 3%;
        flex-flow: column wrap;
        justify-content: space-between;
    }
    #home{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .navbar{
        width: 100%;
    }
    .mainnav__ul {
        display: none;
    }
    .navbrand{
        margin: 0;
        padding: 0;
    }

    #hamburger{
        z-index: 15;

        width: 3rem;
        height: 100%;
        vertical-align: bottom;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        align-self: bottom ;
    }
    
    #hamburger img{
    padding: 2% auto;
    height: fit-content;
    width: 2rem;
    }

    .home-content{
        grid-column-end: span 2;
        width: 100%;
        flex-flow: column wrap;  
    }
    .home-content__text{
        flex-flow: column wrap;
        justify-content: space-between;
        gap: 10px;
       }
    .content-title h1{
        width: 100%;
        flex: 1;
    }
    .content-text {
        width: 100%;
    }
    
    #content-text p{
      width: 100%;
      margin: 0;
    }
    #content-text a{
      margin: 0;
    }
    .homepage-news{
        width: 100%;
        grid-column-end: span 2;
    }
    .homepage-bottom{
        flex-flow: column wrap;
        gap: 10px
    }
    .attribution{
        margin: 1%;
    }
    #modal{
        display: flex;
        opacity: 0;
        display: flex;
        opacity: 0;
        transition: all 400ms ease-in-out ;

        flex-direction: column;
        align-content: flex-end ;
        position: fixed;
        width: 100%;
        height: 1000px;
        margin-top: -100px;
        margin-bottom: 1000x;
        padding: 0;
        z-index: 2;
        
        
        background-color: rgba(0, 0, 0, 0.192);
    }
    #menu{
        width:0;
        height: 100%;
        position: relative;
        right: 0%;
        position: relative;
        right: 0%;
        display:inherit;
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-end;
        text-decoration: none; 
        text-decoration: none; 
        transition: all 400ms ease-in-out;
        background-color: white;
    }
    #menu.active{
     width: 50%;
    }

    #close{
        display: none;
    }

    #modal ul{
      position: relative;
      display: inherit;
      top: 10rem;
      left: 2rem;
      width: fit-content;
      display: flex;
      flex-direction: column;
      list-style: none;
      gap:2rem;
      text-decoration: none;
      justify-content: space-between;
      align-self: flex-start;
    }
    #modal a{
        text-decoration: none; 
        color: black;  

    }
    
}