body{
    margin: 3% 7%;
    padding: 0px;
    
}
.navbar{
    
    background-color: #ffffff;
    
}

.navbrand{
    display: inline-block;


}
 
.mainnav{
   margin: 2.5%;
display: inline-block;   

}

.mainnav__ul-listItem{
   display: inline-block;
   
    
}


.mainnav__link{
    text-decoration: none;
    color: black;
    
}